test/*
minishell
minishell_bonus
*.gen
*.swp
NOT*
*.o
*.a
tags
.nfs*
.DS_Store
criterion/**
meson/**
lib
lib64
include
build
test.out
TAGS
a.out
# minishell tmp file
*.log
.inputrc
.vscode
.vscode/*
universal.h
log.error
supp.supp
